<server description="Dukes Data Demo">
    <featureManager>
        <platform>jakartaee-11.0</platform>
        <feature>restfulWS</feature>
        <feature>jsonb</feature>
        <feature>cdi</feature>
        <feature>persistence</feature>
        <feature>data</feature>
    </featureManager>

    <library id="jdbcLib">
        <fileset dir="jdbc" includes="*.jar"/>
    </library>

    <dataSource  id="DefaultDataSource">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="localhost" portNumber="5432"
                    databaseName="dukes_data"
                    user="duke"
                    password="duke"/>
    </dataSource>

    <databaseStore id="defaultDatabaseStore" createTables="true" dropTables="false"
                   tablePrefix="" dataSourceRef="DefaultDataSource"/>
</server>